p {
  font-size: 14px;
  display: inline;
}

.left-container h1 {
  margin-top: 65px;
  margin-bottom: 10px;
}
.right-container h1 {
  margin-top: 65px;
  margin-bottom: 10px;
}

.effect:hover {
  transform: all ease 1s;
  transform: scale(1.1);
}
