
.recherchestagiaire-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.recherchestagiaire-containers{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.recherchestagiaire-containers label{
    font-size: 14px;
}
.recherchestagiaire-input{
    border: 1px solid gray;
    width: 100%;
    height:15px;
    color: black;
    border-radius: 5px;
    font-size: 14px;
}
::placeholder {
    color: black;
  }
.recherchestagiaire-select{
    border: 1px solid gray;
    width: 100%;
    height:42px;
    color: black;
    border-radius: 5px;
    font-size: 14px;
}
h2{
    margin-bottom: 10px;
}