.card {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
}

.card-position-width {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
.card-flex-direction {
  flex-direction: column;
}
